<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="custom-auth-container">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form>
        <h1 class="custom-auth-text">Créer un compte</h1>
        <input type="text" placeholder="Nom complet" />

        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Mot de passe" />
        <button>S'inscrire</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <!-- <img src="../../../assets/img/dark_logo_ovc (1).png" class="ovc_logo" alt=""> -->
        <h1>Se connecter</h1>
        <input type="email" placeholder="Email"  formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email est requis</div>
          <div *ngIf="f.email.errors.email">L'email doit être une adresse e-mail valide</div>
        </div>
        <input type="password" placeholder="Mot de passe" 
        formControlName="password"
        class="form-control form-control-merge login-form-input"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Mot de passe est requis</div>
          <div *ngIf="f.password.errors.minLength">Mot de passe doit contient 6 caractéres au minimum</div>
        </div>
        <button type="submit" (click)="signIn()" class="signin-btn">          
          Se connecter
        </button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Content de te revoir!</h1>
          <p>Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles</p>
          <button (click)="type='signIn'" class="ghost cursor-pointer" id="signIn">Se connecter</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Salut!</h1>
          <p>Entrez vos données personnelles et commencez à gérer vos projets</p>
          <!-- <button (click)="type='signUp'" class="ghost cursor-pointer" id="signUp">S'inscrire</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
